/node_modules
/public/css
/public/fonts
/public/img
/public/js
/public/storage
/public/mix-manifest.json
/storage
/.idea
Homestead.json
Homestead.yaml
.env

/vendor/autoload.php
/vendor/bin/
/vendor/composer/
/vendor/dnoegel/
/vendor/doctrine/
/vendor/dompdf/
/vendor/erusev/
/vendor/firebase/
/vendor/fzaninotto/
/vendor/guzzlehttp/
/vendor/hamcrest/
/vendor/intervention/
/vendor/jakub-onderka/
/vendor/laravel/cashier/
/vendor/laravel/framework/
!/vendor/laravel/spark/
/vendor/laravel/tinker/
/vendor/league/
/vendor/mockery/
/vendor/monolog/
/vendor/mtdowling/
/vendor/myclabs/
/vendor/nesbot/
/vendor/nikic/
/vendor/paragonie/
/vendor/phenx/
/vendor/phpdocumentor/
/vendor/phpspec/
/vendor/phpunit/
/vendor/psr/
/vendor/psy/
/vendor/ramsey/
/vendor/sabberworm/
/vendor/sebastian/
/vendor/stripe/
/vendor/swiftmailer/
/vendor/symfony/
/vendor/tijsverkoyen/
/vendor/torann/
/vendor/webmozart/
/vendor/vlucas/
